<div class="container mt-4">
   <div class="card bg-dark">
      <div class="card-body">
         <div class="subject">
            <h2 class="text-warning">{{this.id}}</h2>
            <a routerLink="../../add-tarea/{{this.id}}" class="btn btn-success" style="margin-left: 2rem;">Añadir Tarea</a>
         </div>
         <div style="margin-top: 1rem;">
            <table class="table">
               <thead>
                  <tr>
                     <th scope="col">#</th>
                     <th scope="col">Tarea</th>
                     <th scope="col">Descripcion de la Tarea</th>
                     <th scope="col">Fecha entrega</th>
                     <th scope="col">Marcar</th>
                  </tr>
               </thead>
               <tbody>
                  @for (item of asignaturas; track $index) {
                  @if (item.activated) {
                  <tr>
                     <th scope="row">{{$index+1}}</th>
                     <td>{{item.title}}</td>
                     <td>{{item.description}}</td>
                     <td>{{item.fecha_entrega}}</td>
                     <td><button (click)="delTarea(item.title)">marcar</button></td>
                  </tr>
                  }
                  }
                  @empty {
                  <tr>
                     <td colspan="5">
                        <h2>No hay Tareas asignadas aun</h2>
                     </td>
                  </tr>
                  }

               </tbody>
            </table>
         </div>
      </div>
   </div>
</div>